<div class="container">
 	<div class="row">

 		<div class="col-md-10 col-md-offset-1">
 			<h4>
 				<span>注文履歴詳細</span>
 			</h4>
 		</div>

 		<div class="col-md-5">

 			<table class="table admin_orders_show_table">
 				<tbody>
 					<tr>
 						<th><h4><strong>購入者</strong></h4></th>
						<td><%= @order.end_user.full_name %></td>
					</tr>

					<tr>
						<th><h4><strong>配送先</strong></h4></th>
						<td>
							<%= @order.zipcord %><%= @order.address %><br />
							<%= @order.name %>
						</td>
					</tr>

					<tr>
						<th><h4><strong>支払い方法</strong></h4></th>
						<td><%= @order.payment_method %></td>
					</tr>
				</tbody>
			</table>

		</div>


 		<div class="col-md-8">
 			<table border="1" class="admin_orders_show_table_2">
 				<thead>
 					<tr>
 						<th>商品</th>
 						<th>単価(税込)</th>
 						<th>個数</th>
 						<th>小計</th>
 					</tr>
 				</thead>
 				<tbody>
 					<% @sum = 0 %>
 					<% @all_quantity = 0 %>
 					<% @order_products.each do |order_product| %>
 					<tr>
 						<td><%= order_product.product.name %></td>
 						<td><%= order_product.price %></td>
 						<td><%= order_product.quantity %></td>
 						<td><%= order_product.price * order_product.quantity %></td>
 						<% @sum += order_product.price * order_product.quantity %>
 						<% @all_quantity += order_product.quantity %>
	 				</tr>
	 				<% end %>
 				</tbody>
 			</table>
 		</div>

 		<div class="col-md-2">
 			<table class="admin_orders_show_table_3">
 				<tbody>
 					<tr>
 						<th>商品合計</th>
 						<td><%= @sum %></td>
 					</tr>
 					<tr>
 						<th>配送料</th>
 						<td><%= @order.shipping %></td>
	 				</tr>
	 				<tr>
	 					<th>ご請求額</th>
	 					<td><%= @sum + @order.shipping %></td>
	 				</tr>
 				</tbody>
 			</table>
 		</div>



 		</div>
 	</div>
</div>
