<div class="container">
 	<div class="row">

 		<div class="col-md-10 col-md-offset-1">
 			<h4>
 				<span>配送先登録/一覧</span>
 			</h4>
 		</div>

 		
	        <div class="col-md-12">
		        <% if @delivery.errors.any? %>
			        <div id="error_explanation">
			        	<h4><%= @delivery.errors.count %>件のエラーが発生しました。</h4>
		        			<ul>
		        				<% @delivery.errors.full_messages.each do |message| %>
		      						<li><%= message %></li>
		        				<% end %>
							</ul>
		      		</div>
	     		<% end %>
	     	</div>


 		<div class="col-md-12">
 			<table class="deli_table">
 				<tbody>
 					<%= form_for(@delivery, url: deliveries_path) do |f| %>
 					<tr>
 						<th><%= f.label :zipcord, "郵便番号(ハイフンなし)" %></th>
 						<td><%= f.text_field :zipcord %></td>
 						<td></td>
 					</tr>
 					<tr>
 						<th><%= f.label :address, "住所" %></th>
 						<td><%= f.text_field :address, size: "50x10" %></td>
 						<td></td>
 					</tr>
 					<tr>
 						<th><%= f.label :name, "宛名" %></th>
 						<td><%= f.text_field :name %></td>
 						<td><%= f.submit '登録する', class: "actions btn btn-success btn-md"%></td>
 					</tr>
 					<% end %>
 				</tbody>
 			</table>
 		</div>


 		<div class="deli_table_2 col-md-12">
 			<table border="1">
 				<thead>
 					<tr>
 						<th>郵便番号</th>
 						<th>住所</th>
 						<th>宛名</th>
 						<th colspan="3"></th>
 					</tr>
 				</thead>

 				<tbody>
 					<% @deliveries.each do |delivery| %>
	 					<tr>
	 						<td><%= delivery.zipcord %></td>
	 						<td><%= delivery.address %></td>
	 						<td><%= delivery.name %></td>
	 						<td>
	 							<%= link_to '編集する', edit_delivery_path(delivery.id), class: "btn btn-primary btn-md" %>
	 							<%= link_to '削除する', delivery_path(delivery.id), class: " btn btn-md btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
	 						</td>
	 					</tr>
 					<% end %>
 				</tbody>
 			</table>
 		</div>

 	</div>
</div>