<div class="container">
 	<div class="row">

 		<div class="col-md-10 col-md-offset-1">
 			<h4>
 				<span>注文情報確認</span>
 			</h4>
 		</div>


 		<div class="order_confirm col-xs-12 col-md-9">
 			<table border='1' class="order_confirm_table">
 				<thead>
 					<tr>
 						<th>商品名</th>
 						<th>単価(税込)</th>
 						<th>数量</th>
 						<th>小計</th>
 					</tr>
 				</thead>

 				<% @sum = 0 %>
 				<% @order.total_payment = 0 %>
 				<% @order_products.each do |cart_product| %>
 				<tbody>
 					<tr>
 						<td><%= attachment_image_tag cart_product.product, :image, :fill, 100, 50, style: "margin: 5px;" %>
 							<%= link_to cart_product.product.name, product_path(cart_product.product.id) %>
 						</td>

 						<td><%= (cart_product.product.price * 1.1).ceil %></td>

 						<td><%= cart_product.quantity %></td>

 						<td><%= (cart_product.product.price * 1.1).ceil * cart_product.quantity %></td>

 						<% @sum += (cart_product.product.price * 1.1).ceil * cart_product.quantity %>
 					</tr>
 				</tbody>
 				<% end %>
 			</table>
 		</div>


 		<div class="order_confirm_2 col-xs-12 col-md-3">
 			<table border='1' class="order_confirm_table_2">
 				<tbody>
 					<tr>
 						<th>送料</th>
 						<td><%= @order.shipping %></td>
 					</tr>

 					<tr>
 						<th>商品合計</th>
 						<td><%= @sum %></td>
 					</tr>

 					<tr>
 						<th>請求金額</th>
 							<% @order.total_payment += @order.shipping.to_i + @sum.to_i %>
 						<td><%= @order.total_payment %></td>
 					</tr>
 				</tbody>
 			</table>
 		</div>


 		<div class="col-xs-12 col-md-10">

	 		<h4><strong>支払い方法</strong></h4>
	 		<p><%= @order.payment_method %></p>

	 		<h4><strong>お届け先</strong></h4>
	 		<p><%= @order.zipcord %><%= @order.address %><%= @order.name %></p>

	 	</div>


	 	<div class="actions colxs-12 col-md-12">

	 		<%= form_with model: @order, local: true do |f| %>
		 		<%= f.hidden_field :zipcord, value: @order.zipcord %>
		 		<%= f.hidden_field :address, value: @order.address %>
				<%= f.hidden_field :name, value: @order.name %>
	 			<%= f.hidden_field :shipping, value: @order.shipping %>
	 			<%= f.hidden_field :total_payment, value: @order.total_payment %>
		 		<%= f.hidden_field :payment_method, value: @order.payment_method %>
		 		<%= f.hidden_field :end_user_id, value: current_end_user %>

	 			<%= f.submit '購入を確定する', class: "actions btn btn-success btn-lg" %>
	 		<% end %>
 	</div>
</div>