<div class="container">
 	<div class="row">
 		<div class="col-md-10">

 			<h4><span style="background-color: silver;">
 				注文情報確認</span>
 			</h4>
 		</div>

 		<div class="table col-md-10">

 			<table border='1' class="cart-table col-md-8" style="float: left;">
 				<thead>
 					<tr>
 						<th style="width:300px; height: 70px; padding:10px;">商品名</th>
 						<th style="width:100px; padding:10px;">単価(税込)</th>
 						<th style="width:100px; padding:10px;">数量</th>
 						<th style="width:100px; padding:10px;">小計</th>
 					</tr>
 				</thead>

 				<% @sum = 0 %>
 				<% @order.total_payment = 0 %>
 				<% @cart_products.each do |cart_product| %>
 				<tbody>
 					<tr>
 						<td><%= attachment_image_tag cart_product.product, :image, :fill, 100, 50, style: "margin: 5px;" %>
 							<%= link_to cart_product.product.name, product_path(cart_product.product.id) %></td>
 						<td><%= (cart_product.product.price * 1.1).ceil %></td>
 						<td><%= cart_product.quantity %></td>
 						<td><%= (cart_product.product.price * 1.1).ceil * cart_product.quantity %></td>
 						<% @sum += (cart_product.product.price * 1.1).ceil * cart_product.quantity %>
 					</tr>
 				</tbody>
 				<% end %>
 			</table>

 			<table border='1' class="cart-table col-md-3" style="float: right;">
 				<tbody>
 					<tr>
 						<th style="width:150px; height: 70px; padding:10px;">送料</th>
 						<td><%= @order.shipping %></td>
 					</tr>
 					<tr>
 						<th style="width:150px; height: 70px; padding:10px;">商品合計</th>
 						<td><%= @sum %></td>
 					</tr>
 					<tr>
 						<th style="width:150px; height: 70px; padding:10px;">請求金額</th>
 							<% @order.total_payment += @order.shipping.to_i + @sum.to_i %>
 						<td><%= @order.total_payment %></td>
 					</tr>
 				</tbody>
 			</table>
 		</div>

 		<h3>支払い方法</h3>
 		<%= @order.payment_method %>

 		<h3>お届け先</h3>
 		<%= @order.zipcord %><%= @order.address %><%= @order.name %>

 		<div class="col-md-10" style="text-align: center;">
 			<%= form_for(@order, url: orders_path) do|f| %>
 				<%= f.hidden_field :zipcord, value: @order.zipcord %>
 				<%= f.hidden_field :address, value: @order.address %>
 				<%= f.hidden_field :name, value: @order.name %>
 				<%= f.hidden_field :shipping, value: @order.shipping %>
 				<%= f.hidden_field :total_payment, value: @order.total_payment %>
 				<%= f.hidden_field :payment_method, value: @order.payment_method %>
 				<%= f.hidden_field :end_user_id, value: current_end_user %>

 				<%= f.submit '購入を確定する', class: "btn btn-success btn-lg" %>
 			<% end %>
 	</div>
</div>