<div class="container">
 	<div class="row">

 		<div class="col-md-10 col-md-offset-1">
 			<h4>
 				<span>注文情報入力</span>
 			</h4>
 		</div>


 		<%= form_with model: @order, url: confirm_path, method: :post,local: true do |f| %>

	 		<div class="col-md-12">
		 		<h4><strong>支払い方法</strong></h4>
		 			<div class="delivery_form">
						<p><%= f.radio_button :payment_method, "クレジットカード", checked: true %>クレジットカード</p>
						<p><%= f.radio_button :payment_method, "銀行振込" %>銀行振込</p>
					</div>
			</div>

			<div class="col-md-12">
			 	<h4><strong>お届け先</strong></h4>
			 		<div class="delivery_form">
				 		<h4><%= f.radio_button :address_option, 0, checked: true %>ご自身の住所</h4>

			 	 		<div class="order-field" >
					 		<p><%= current_end_user.full_address %></p>
					 		<p><%= current_end_user.full_name %></p>
					 	</div>

					</div>

					<div class="delivery_form">
				 		<h4><%= f.radio_button :address_option, 1 %>登録済住所から選択</h4>

				 		<div class="order-field" >
				 		 	<p><%= f.collection_select :order_address, Delivery.all, :id, :full_delivery %></p>
				 		</div>

				 	</div>

				 	<div class="delivery_form">
				 		<h4><%= f.radio_button :address_option, 2 %>新しいお届け先</h4>

				 	 	<div class="order-field" >
					 		<table class="order_new_table">
					 			<tbody>
					 				<tr>
					 					<th><%= f.label :zipcord, "郵便番号(ハイフンなし)" %></th>
							 			<td><%= f.number_field :zipcord, min: 0 %></td>
							 		</tr>

							 		<tr>
							 			<th><%= f.label :address, "住所" %></th>
							 			<td><%= f.text_field :address, size: "50x10" %></td>
							 		</tr>

							 		<tr>
							 			<th><%= f.label :name, "宛名" %></th>
							 			<td><%= f.text_field :name %></td>
							 		</tr>
							 	</tbody>
							 </table>
						</div>
					</div>
			</div>

			<div class="actions col-md-12">
				<%= f.submit "確認画面へ進む", class: "btn btn-primary btn-lg", style: "width:200px; margin-top:30px;" %>
			</div>

 		<% end %>

 	</div>
</div>