<div class="container">
 	<div class="row">

 		<div class="col-md-10 col-md-offset-1">
 			<h4>
 				<span>注文履歴詳細</span>
 			</h4>
 		</div>

 		<div class="order_show_table col-md-7">
 			<h4>注文情報</h4>

 			<table border="1" class="order_show_table_1">
 				<tbody>
 					<tr>
 						<th>注文日</th>
 						<td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
 					</tr>

 					<tr>
 						<th>配送先</th>
 						<td>
 							<%= @order.zipcord %><br>
 							<%= @order.address %><br>
 							<%= @order.name %></br>
 						</td>
 					</tr>

 					<tr>
 						<th>支払い方法</th>
 						<td><%= @order.payment_method %></td>
 					</tr>
 				</tbody>
 			</table>
 		</div>

 		<div class="order_show_table col-md-3">
 			<h4>請求情報</h4>

 			<table border="1" class="order_show_table_2">
 				<tbody>
 					<tr>
 						<th>商品合計</th>
 						<td><%= @sum %></td>
 					</tr>

 					<tr>
 						<th>送料</th>
 						<td><%= @order.shipping %></td>
 					</tr>

 					<tr>
 						<th>ご請求額</th>
 						<td><%= @order.total_payment %></td>
 					</tr>
 				</tbody>
 			</table>
 		</div>

 		<div class="order_show_table col-md-12">
	 		<table border="1" class="order_show_table_3">
	 			<h4>注文内容</h4>

	 			<thead>
	 				<tr>
	 					<th>商品</th>
	 					<th>単価(税込)</th>
	 					<th>個数</th>
	 					<th>小計</th>
	 				</tr>
	 			</thead>

	 			<tbody>
	 				<% @order_products.each do |order_product| %>
	 					<tr>
	 						<td><%= order_product.product.name %></td>
	 						<td><%= order_product.price %></td>
	 						<td><%= order_product.quantity %></td>
	 						<td><%= order_product.price * order_product.quantity %></td>
	 					</tr>
	 				<% end %>
	 			</tbody>
	 		</table>
	 	</div>

 	</div>
</div>

