
<div class="container">
    <div class="row">
      
        <div class="col-md-6 col-md-offset-3">
            <h4>
              <span>管理者ログイン</span>
            </h4>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="col-md-8 col-md-offset-4">
          <table>
            <tbody>
              <tr>
                <th><%= f.label :メールアドレス %></th>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "30x10", style: "margin: 10px;" %></td>
              </tr>

              <tr>
                <th><%= f.label :パスワード %></th>
                <td><%= f.password_field :password, autocomplete: "current-password", size: "30x10", style: "margin: 10px;" %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-12">
            <div class="actions">
              <%= f.submit "ログイン", class:"btn bg-primary" %>
            </div>
          <% end %>
        </div>

    </div>
</div>
