
<div class="container">
 	<div class="row">

 		<div class="col-md-10 col-md-offset-1">
 			<h4>
 				<span>商品一覧</span>
 			</h4>

 			<%= link_to new_admin_product_path, class: "btn btn-primary btn-circle", size: "30x30" do %>
 				<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
 			<% end %>

 		</div>


			<table class="table">
				<thead>
					<tr>
						<th>商品ID</th>
						<th>商品名</th>
						<th>税抜価格</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

			<% @products.each do |product| %>
				<tbody>
					<tr>
							<td><%= product.id %></td>
							<td><%= link_to product.name, admin_product_path(product.id) %></td>
							<td><%= product.price %></td>
							<td></td>
							<td></td>
					</tr>
				</tbody>
			<% end %>
			</table>

 			<div class="pagenate">
 				<%= paginate @products %>
 			</div>

	</div>
</div>