
<div class="container">
 	<div class="row">

 		<div class="col-md-10 col-md-offset-1">
 			<h4>
 				<span>商品新規登録</span>
 			</h4>
 		</div>

 		<%= form_for(@product, url:admin_products_path) do |f| %>
	        <div class="col-md-12">
		        <% if @product.errors.any? %>
			        <div id="error_explanation">
			        	<h4><%= @product.errors.count %>件のエラーが発生しました。</h4>
		        			<ul>
		        				<% @product.errors.full_messages.each do |message| %>
		      						<li><%= message %></li>
		        				<% end %>
							</ul>
		      		</div>
	     		<% end %>
	     	</div>

 		<div class="col-md-4">

 			<%= attachment_image_tag @product, :image, :fill, 300, 250, fallback: "noimage.jpg", size: "300x250" %>

 		

 			<%= f.attachment_field :image %>
 		</div>

 		<div class="col-md-8">

			<table class="table">
				<tbody>
					<tr>
						<th>商品名</th>
						<td><%= f.text_field :name %></td>
					</tr>
					<tr>
						<th>商品説明</th>
						<td><%= f.text_area :body %></td>
					</tr>
					<tr>
						<th>税抜価格</th>
						<td><%= f.text_field :price %> 円</td>
					</tr>
				</tbody>
			</table>
		</div>

         <div class="actions col-md-2 col-md-offset-10">
         	<%= f.submit "新規登録", class:"btn bg-primary btn-lg" %>
         </div>

 		<% end %>
 	</div>
</div>