<div class="container">
 	<div class="row">


 		<div class="product-show col-md-10 col-md-offset-2">
 			<div class="col-md-5">

 				<%= attachment_image_tag @product, :image, :fill, 300, 250 %>

 			</div>

 			<div class="col-md-5">

 				<h2><%= @product.name %></h2>
 				<p class="product-body"><%= @product.body %></p>
 				<h3>¥ <%= @product.price %> 　(税込)</h3>
 			</div>
 		</div>

 		<div class="form col-md-10 col-md-offset-2">

		<%= form_for @cart_product, url: cart_products_path do |f| %>
				<%= f.hidden_field :product_id, value: @product.id %>
				<%= f.select :quantity, options_for_select((1..20).to_a) %>
	        <%= f.submit "カートに入れる", class: "btn btn-primary btn-md" %>
	      <% end %>
 		</div>
 	</div>
</div>