<div class="container">
 	<div class="row">


 		<div class="col-md-10 col-md-offset-2">
 			<div class="col-md-5">

 				<%= attachment_image_tag @product, :image, :fill, 200, 150 %>

 			</div>

 			<div class="col-md-5">

 				<h2><%= @product.name %></h2>
 					<%= @product.body %><br />
 					<%= @product.price %>
 			</div>
 		</div>

 		<div class="col-md-10 col-md-offset-2" style="text-align: right;">

	      <%= form_for @cart_product do |f| %>
	        <%= f.hidden_field :product_id, value: @product.id %>
	        <%= f.select :quantity, options_for_select((1..20).to_a, { :selected => @cart_product.quantity.to_i }), include_blank: "個数選択" %>
	        <%= f.submit "カートに入れる" %>
	      <% end %>
 		</div>
 	</div>
</div>