

<div class="container">
 	<div class="row">

 		<div class="col-xs-12 col-md-10 col-md-offset-2">
 			<div class="introduction">
 				<strong>
 						ようこそ、NaganoCakeへ！<br>
						このサイトは、ケーキ販売のECサイトになります。<br>
						会員でない方も商品の閲覧はできますが、<br>
						購入には会員登録が必要になります。
				</strong>
			</div>
		</div>

 		<div class="col-xs-12 col-md-10 col-md-offset-2">

 			<h2 class="top-h2">おすすめ商品</h2>

			<div class="index-products">

				<% @products.each do |product| %>
					<div class="index-products-1">
	 					<%= link_to product_path(product.id) do %>
	 						<%= attachment_image_tag product, :image, :fill, 150, 100 %><br />
	 					<% end %>
	 					<p class="product-name"><%= link_to product.name, product_path(product.id) %></p>
	 					<p><%= product.price %></p>
	 				</div>
 				<% end %>

 			</div>
 		</div>

 		<div class="col-md-9 col-md-offset-2">
			<div class="index-path">
 				<%= link_to 'もっと見る=>', products_path %>
 			</div>
 		</div>

	</div>
</div>